body:before {
	content: "";
	background: linear-gradient(rgba(10,20,40,0.9) 20%, rgba(10,20,40,0));
	background-repeat: repeat-x;
	background-size: cover;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: -1;
}