body:before {
	content: "";
	background: linear-gradient(rgba(10,20,40,0.9) 20%, rgba(10,20,40,0));
	background-repeat: repeat-x;
	background-size: cover;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: -1;
}

input[type="button"] {
    background: rgb(100,20,60);
    color: rgb(250,255,240);
    display: block;
    font-size: 1.5em;
    margin: 1em auto;
    padding: 0.5em 0.75em;
}

table {
    border-collapse: separate;
}

td {
    text-align: center;
}

.fields {
    text-align: center;
}

#mainContent {
    overflow-x: scroll;
}