html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    color: rgb(30,30,30);
    font-family: "Arial", sans-serif;
}

img {
    width: 500px;
}

main {
    background-color: rgb(180,230,150);
    margin: 0 auto;
    padding: 0.75em 5em;
    width: 85%;
}

#leftarrow, #rightarrow {
   background: transparent;
   border-bottom: 67px solid transparent;
   border-top: 67px solid transparent;
   filter: drop-shadow(0 8px 0 black) drop-shadow(0 0 30px white);
   height: 0;
   width: 0;
}

#leftarrow:hover, #rightarrow:hover {
   cursor: pointer;
   cursor: hand;
}

#leftarrow {
   border-right: 30px solid rgb(160,160,160);
   left: 0;
}

#rightarrow {
   border-left: 30px solid rgb(160,160,160);
   right: 0;
}

#leftarrow:hover {
   border-right: 30px solid white;
}

#rightarrow:hover {
   border-left: 30px solid white;
}