html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    background: url("../images/Grapevine_leaf.jpg");
	background-attachment: fixed;
	background-position: top center;
    color: rgb(30,30,30);
    font-family: "Arial", sans-serif;
}

canvas {
    display: block;
    margin: 0 auto;
}

header {
    background-color: rgb(30,50,30);
    background-color: rgba(0,0,0,0.7);
    color: rgb(250,250,250);
    padding: 1em;
    text-align: center;
}

h1 {
    font-variant: small-caps;
}

main {
    background-color: rgb(180,230,150);
    margin: 0 auto;
    padding: 0.75em 5em;
    text-align: center;
    width: 512px;
}

#buttons {
    margin: 1em;
}

#buttons > input {
    font-size: 1.5em;
    font-variant: small-caps;
    padding: 0.5em;
}

#gameInfo {
    background-color: rgb(180,230,150);
    font-weight: bold;
    padding: 1em;
}

#timer {
    color: rgb(150,0,0);
    font-size: 2em;
    font-weight: bold;
}

#score {
    text-align: right;
}