body:before {
	content: "";
	background: linear-gradient(rgba(10,20,40,0.9) 20%, rgba(10,20,40,0));
	background-repeat: repeat-x;
	background-size: cover;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: -1;
}

fieldset {
    background-color: rgb(120,130,180);
    border: none;
    color: rgb(250,250,250);
    margin: 1em 0;
    padding: 1.5em;
}

fieldset > fieldset {
    background-color: rgb(160,185,220);
    color: rgb(30,30,30);
}

fieldset > fieldset > legend {
    background: rgb(40,40,100);
    text-transform: none;
}

input[type="button"] {
    background: rgb(100,20,60);
    color: rgb(250,255,240);
    display: block;
    font-size: 1.5em;
    margin: 0 auto;
    padding: 0.5em 0.75em;
}

legend {
    background-color: rgb(40,40,100);
    color: rgb(250,255,240);
    font-weight: bold;
    padding: 0.5em 1em;
    text-transform: uppercase;
}

.field {
    white-space: nowrap;
}

#mainContent {
    max-width: 500px;
}

#results {
    display: none;
}