﻿/* -- Basic tags -- */
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}

body {
	background: url("../images/background.jpg");
	background-attachment: fixed;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	color: rgb(30,30,30);
	font-family: "Arial", sans-serif;
}

blockquote {
	background-color: rgb(210,230,250);
	border-left: 1em solid rgb(240,250,250);
	border-right: 1em solid rgb(240,250,250);
	color: rgb(60,90,160);
	font-family: "Georgia", serif;
	font-size: 1.2em;
	font-style: italic;
	padding: 0.6em;
	text-align: center;
	word-break: normal;
}

blockquote:before{
	color: rgb(110,140,200);
	content: open-quote;
	float: left;
	font-size: 4em;
	line-height: 0.8em;
	padding-right: 0.2em;
}

blockquote p {
	display: inline;
}

blockquote .quote-source {
	display: block;
	font-size: 0.8em;
	margin-top: 0.5em;
	text-align: center;
}

header {
	margin: 0 auto;
	height: 105px;
	text-align: center;
	width: 70%;
}

header a {
	color: rgb(100, 160, 235);
}

header a:hover {
	color: rgb(140, 200, 255);
}

header img {
	display: inline;
	margin: 0;
	max-height: 105px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Arial", serif;
	font-variant: small-caps;
	margin-bottom: 0;
}

h1 {
	font-size: 3em;
	text-align: center;
	text-transform: uppercase;
}

h2 {font-size: 2em;}
h3 {font-size: 1.2em;}

hr {border-color: rgb(240,250,250);}

img.inline {
	float: right;
	margin: 0 0 0 1em;
	width: 200px;
}

img.separate {
	display: block;
	margin: 0 auto 1em;
}

img#header {
	display: inline-block;
	margin: 0 auto;
	text-align: center;
}

input[type=number] {
	margin-left: 0.5em;
	width: 50px;
}

input+label {
  margin-left: 0.5em;
}

li {
	margin-bottom: 0.1em;
}

p {
	font-size: 1em;
	margin-top: 0.1em;
}

table {
	border-collapse: collapse;
	font-size: 0.9em;
	text-align: left;
	width: 100%;
	word-break: normal;
}

table tr th {
	background-color: rgb(30,45,100);
	background-color: rgba(30,45,100,0.9);
	color: rgb(240,250,255);
}

table tr th,td {
	padding: 0.3em 0.5em;
}

table tr:nth-child(odd) td {
	background-color: rgba(240,250,255,0.9);
}

table tr:nth-child(even) td {
	background-color: rgba(220,230,250,0.9);
}

table .number {
	text-align: right;
}

table .picture {
	text-align: center;
}

tbody {
	margin: 0 auto;
}

ul {
	list-style-image: url("../images/bullet.png");
	margin-top: 0;
}

/* -- IDs -- */
#banner, #header {
	align-items: center;
	align-self: flex-end;
	display: flex;
	justify-content: center;
	padding: 0;
}

#banner {
	-webkit-box-shadow: 0 3px 5px 2px rgba(0,0,0,0.4);
	-moz-box-shadow: 0 3px 5px 2px rgba(0,0,0,0.4);
    box-shadow: 0 3px 5px 2px rgba(0,0,0,0.4);
	background-size: cover;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	align-items: center;
    background-color: rgb(0,10,40);
	background-color: rgba(0,10,40,0.6);
	background-position: center;
	background-repeat: no-repeat;
	color: rgb(240,240,250);
	display: flex;
	flex-direction: column;
	height: 20%;
	justify-content: center;
	margin: 0;
	object-fit: cover;
	object-position: 50% 50%;
	overflow: auto;
	position: relative;
	text-shadow: 0 3px 10px rgba(0,0,0,0.8);
	vertical-align: bottom;
	width: 100%;
}

#banner img {
	display: block;
	margin: 0 auto;
	height: 100%;
}

#banner h1,
#banner h2,
#banner h3,
#banner h4,
#banner h5,
#banner h6 {
	display: block;
	text-align: center;
}

#footer {
	font-size: 0.75em;
	padding-bottom: 0.1em;
	text-align: center;
}

.intro {
    float: left;
    text-align: center;
    width 300px;
}

.intro img {
    margin: 1em 3em 0 0;
    width: 300px;
}

#mainContent {
	background-color:rgb(190,215,250);
	background-color:rgba(190,215,250,0.8);
	margin: 0 auto;
	min-height: 65%;
	padding: 0.6em 2em 0.2em;
	width: 60%;   
    word-break: break-word;
}

#menu {
	background-color:rgb(190,215,250);
	background-color:rgba(190,215,250,0.8);
	color: rgb(240,240,250);
	margin: 0 auto;
	padding: 0;
	text-align: center;
	width: 100%;
}

#menu p {
	margin: 0;
	padding: 0;
}

/* -- Classes -- */
.subtitle {
	font-size: 0.9em;
	text-align: center;
	text-transform: uppercase;
}