﻿html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}

body {
    background-image: url('../week08/images/nature-background.jpg');
    background-attachment: fixed;
    background-size: cover;
    color: rgb(80,80,80);
    font-family: "Arial", "Helvetica", "sans-serif";
}
footer {
    background: #5C743D url('../week08/images/trilliumfoot.gif') no-repeat right center;
    border-radius: 1em;
    color: rgb(220,220,220);
    height: 100px;
    padding: 10px 20px;
}
footer a {color: rgb(180,240,140);}
footer a:hover {color: rgb(190,255,210);}

h1, h2, h3, h4, h5, h6 {
    color: #5C743D;
}

h2 {
    background-color: #D5ECB3;
    background-image: url('../week08/images/trilliumbg.gif');
    background-repeat: no-repeat;
    border-radius: 0.2em;
    color: #5C743D;
    padding-left: 2em;
}

header {
    background-color: #D5ECB3;
    background-image: url('../week08/images/trilliumminibanner.jpg');
    background-repeat: no-repeat;
    border-radius: 1em;
    font-family: "Georgia", "Times", "serif";
    height: 84px;
}
header h1 {
    padding: 0.5em 0 0 4.5em;
}

ul {list-style-image: url('../week08/images/trillium.gif');}

#mainContent {
    background-color: rgba(180,240,140,0.8);
    border-radius: 1em;
    margin: 0 auto;
    padding: 20px;
    width: 75%;
}

#copyright {
    font-size: small;
    text-align: center;
}