﻿body {
    background-image: url('../week06/images/trilliumgradient.png');
    color: rgb(80,80,80);
    font-family: "Arial", "Helvetica", "sans-serif";
    margin: 0 auto;
    width: 75%;
}
footer {
    background: url('../week06/images/trilliumfoot.gif') #5C743D right center no-repeat;
    color: rgb(220,220,220);
    height: 100px;
    padding: 10px 20px;
}
footer a {color: rgb(140,210,160);}
footer a:hover {color: rgb(190,255,210);}
header {
    background-color: #D5ECB3;
    background-image: url('../week06/images/trilliumbanner.jpg');
    background-repeat: no-repeat;
    height: 86px;
}
h2 {
    background-color: #D5ECB3;
    background-image: url('../week06/images/trilliumbg.gif');
    background-repeat: no-repeat;
    color: #5C743D;
    padding-left: 40px;
}
ul {list-style-image: url('../week06/images/trillium.gif');}

#copyright {
    font-size: small;
    text-align: center;
}
