/*  JavaScript 6th Edition
    Chapter 5
    Chapter case

    Photo gallery
    Large format style sheet

    Filename: photos.css
*/

/* apply a natural box layout model to all elements */
* {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

/* reset rules */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
   display: block;
}

body, html {
    height: 100%;
}

body {
   line-height: 1;
   font-family: verdana, arial, helvetica, sans-serif;
   background: rgb(20,20,20);
   position: relative;
}

ol, ul {
   list-style: none;
}

blockquote, q {
   quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
   content: '';
   content: none;
}

table {
   border-collapse: collapse;
   border-spacing: 0;
}

a:link, a:visited {
   text-decoration: none;
   color: inherit;
}

a:hover {
   text-decoration: none;
   color: inherit;
}

a:active {
   text-decoration: none;
   color: inherit;
}

/* page header */
header {
   background: rgb(40,50,40);
   color: white;
   font-size: 3.7em;
}

header h1 {
   padding: 0.5em;
   text-align: center;
   text-transform: uppercase;
}

/* main content */
article {
   position: relative;
}

article h2 {
   color: rgb(240,240,240);
   font-size: 1.2em;
   font-weight: bold;
   text-align: left;
   margin: 0 0 10px 0;
}

#leftarrow, #rightarrow {
   background: #696565;
   color: white;
   position: absolute;
   z-index: 30;
   text-align: center;
   height: 135px;
   width: 40px;
   top: 67px;
}

article div:hover {
   cursor: default;
}

#leftarrow, #rightarrow {
   background: transparent;
   border-bottom: 67px solid transparent;
   border-top: 67px solid transparent;
   filter: drop-shadow(0 8px 0 black) drop-shadow(0 0 30px white);
   height: 0;
   width: 0;
}

#leftarrow:hover, #rightarrow:hover {
   cursor: pointer;
   cursor: hand;
}

#leftarrow {
   border-right: 30px solid rgb(160,160,160);
   left: 0;
}

#rightarrow {
   border-left: 30px solid rgb(160,160,160);
   right: 0;
}

#leftarrow:hover {
   border-right: 30px solid white;
}

#rightarrow:hover {
   border-left: 30px solid white;
}

#fiveButton {
   display: block;
   width: 100%;
   position: absolute;
   top: 290px;
   color: white;
   text-align: center;
}

#fiveButton p {
   width: 20%;
   margin: 0 auto;
   line-height: 2em;
   background: rgb(60,60,60);
   font-variant: small-caps;
   padding: 15px;
}

#fiveButton p:hover {
   background: rgb(100,100,100);
   cursor: pointer;
   cursor: hand;
}

#gallery figure {
   -webkit-box-shadow: 10px 0px 15px rgba(0,0,0,0.8),
                       -10px 0px 15px rgba(0,0,0,0.8);
   -moz-box-shadow:    10px 0px 15px rgba(0,0,0,0.8),
                       -10px 0px 15px rgba(0,0,0,0.8);
   box-shadow:         10px 0px 15px rgba(0,0,0,0.8),
                       -10px 0px 15px rgba(0,0,0,0.8);
   position: absolute;
}

#gallery figure img {
   -webkit-filter: blur(2px);
   filter: blur(2px);
}

#gallery figure#fig3 img {
   -webkit-filter: none;
   filter: none;
}

#fig3 img:hover {
   cursor: pointer;
   cursor: hand;
}

#fig2 {
   z-index: 10;
   left: 13%;
   top: 34px;
}

#fig3 {
   z-index: 20;
   left: 50%;
   margin-left: -240px;
   top: 0;
}

#fig4 {
   z-index: 10;
   right: 13%;
   top: 34px;
}

/* footer */
footer {
   width: 100%;
   font-size: 14px;
   padding: 10px;
   clear: both;
   background: black;
   color: rgb(227,198,32);
}

footer p {
   text-align: center;
}

#favourites {
   margin-left: 100px;
}

#favourites img {
   height: 135px;
   margin: 20px 0;
   width: 240px;
}

#gallery {
   height: 350px;
}

main {
   background: black;
   margin: 0 auto;
   min-height: 80%;
   max-width: 80%;
   min-width: 960px;
   padding: 20px 50px;
}

section {
   padding: 30px 0;
}

small {
   color: rgb(160,160,160);
   font-size: small;
   font-style: italic;
}