/*  JavaScript 6th Edition
    Chapter 5
    Chapter case

    Photo zoom
    Large format style sheet

    Filename: zoom.css
*/

/* apply a natural box layout model to all elements */
* {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

/* reset rules */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
   display: block;
}

body {
   line-height: 1;
   font-family: verdana, arial, helvetica, sans-serif;
   background: black;
}

figure img {
   display: block;
   margin: 0 auto;
}

/* footer */
footer {
   width: 100%;
   font-size: 14px;
   padding: 10px;
   clear: both;
   background: black;
   color: rgb(227,198,32);
   height: 60px;
}

footer span:hover {
   cursor: pointer;
   cursor: hand;
   color: rgb(255,240,200);
}

main {
   margin: 0 auto;
   width: 960px;
}

#closeLink {
   float: right;
}